<div class="bg-white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading h4">Admin</div>
  <div class="list-group">
    <a href="/dashboard" class="text-muted <% if (title == "Dashboard") { %> list-group-active <% } %>"><i class="fas fa-list"></i> Dashboard </a>
    <a href="/menu" class="text-muted <% if (title == "Manage Menu") { %> list-group-active <% } %>"><i class="fas fa-book"></i> Manage Menu </a>
    <a href="/food" class="text-muted <% if (title == "Manage Food") { %> list-group-active <% } %>"><i class="fas fa-cheese"></i> Manage Food</a>
    <a href="/order" class="text-muted <% if (title == "Manage Order") { %> list-group-active <% } %>"><i class="fas fa-money-bill"></i> Manage Order</a>
    <a href="/bill" class="text-muted <% if (title == "View Bill") { %> list-group-active <% } %>"><i class="fas fa-book-open"></i> View Bill</a>
    <a href="/users" class="text-muted <% if (title == "Manage Users") { %> list-group-active <% } %>"><i class="fas fa-user"></i> Manage Users</a>
  </div>
</div>